<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <a href="/" class="logo">HEALTHBRIDGE</a>
    <a href="/">Home</a>
    <a href="/camps">Camp Details</a>
    <a href="/register">Register</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<div class="container">

    <h1>Contact Us</h1>

    <div class="card">
        <p>Email: medicalcamp@gmail.com</p>
        <p>Phone: +91 9791500451</p>
        <p>Address: 123 Health Street, Wellness City, India</p>
        <p>For inquiries, please reach out to us via email or phone.</p>
        <p>We look forward to assisting you!</p>
    </div>

</div>

</body>
</html>
<footer>
    <p>
        HealthBridge Medical Camp Registration Portal © 2026
    </p>
</footer>
